{% extends '::base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('img/logo.png') }}" alt="Home">
        </a>
        {% if app.user %}
            <p class="pull-right">{{ app.user.name }}</p>
        {% endif %}
        <ul>
            {% if app.user %}
                <li><a href="{{ logout_path("main") }}">Logout</a></li>
            {% else %}
                <li><a href="{{ path("login") }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock header %}

{% block content %}{% endblock content %}
{% block footer %}{% endblock footer %}

{% block body %}
    <header>
        <div class="container">
            {{ block('header') }}
        </div>
    </header>

    <div role="main" class="content-wr container">
        {{ block('content') }}
    </div>

    <footer>
        {{ block('footer') }}
    </footer>
{% endblock body %}
