{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1 class="page-header">Categories</h1>
    <div class="actions">
        <a href="{{ path('category_new') }}" class="btn btn-primary">Create</a>
    </div>
    {% if categories %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>name</th>
                    <th>created at</th>
                    <th>updated at</th>
                    <th>created by</th>
                    <th>updated by</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>
                            <a class="ico-btn" href="{{ path('category_edit', {id: category.id}) }}">
                                <span class="glyphicon glyphicon-edit glyphicon-align-left" aria-hidden="true"></span>
                            </a>
                            {{ render(controller('AppBundle:Category:delete', {'id': category.id})) }}
                        </td>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.createdAt | date('Y-m-d H:i') }}</td>
                        <td>{{ category.updatedAt | date('Y-m-d H:i') }}</td>
                        <td>{{ category.createdBy.name }}</td>
                        <td>{{ category.updatedBy.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% include('@App/includes/noitems.html.twig') %}
    {% endif %}
{% endblock content %}